<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allergies</title>
    <link rel="stylesheet" href="./template.css">
    <script>
        function feedactive(){
            let mag=document.getElementById('cc').innerHTML="<div class=\"form\"><div class=\"say ee\"><span class=\"ad\">Try To Give The Feedback So that We can Make Our Service More And More Better In Th Upcoming Future</span></div><button class=\"n feed\"onclick=\"location.href=\'./feed.html'\">Enter</button></div>"

        }
        function remactive(){
            let mag=document.getElementById('cc').innerHTML="<div class=\"form\"><div class=\"say ee\"><span class=\"ad\">If You Have Any Other Remedies From The Ayurveda Then You are Welcome To Present The Lost Content So That It can be used For The Other People.We Will Only Add it to the Remedies When The Solution Is Acurate And Safe To Every one</span></div><button class=\"n rem\" onclick=\"location.href=\'./remedies.html\'\">Enter</button></div>"
        }
    </script>
</head>
<body>
    <div class="header">
        <img src="./head.jpg" class="logo">
        <h1>HEALTHY SPIRITS</h1>
    </div>
    <div class="menu">
        <button class="button home" onclick="location.href='../index.html'">Home</button>
        <button class="button phy" onclick="location.href='./phy.html'">Physical Illness</button>
        <button class="button men" onclick="location.href='./men.html'">Mental Illness</button>
        <button class="button is" onclick="location.href='./info.html'">Info</button>
        <button class="button con" onclick="location.href='./contact.html'">Contact Us</button>
    </div>
    <div class="scr">
        <marquee class="at">Science of yoga and ayurveda is subtler than the science of medicine, because science of medicine is often victim of statistical manipulation.    The purpose of science is not down-scaling everything to physical level and measure, but to penetrate deeper into the realm beyond the sensory perceptions and bring more in-depth knowledge and wisdom to the world.</marquee>
    </div>
    <div class="start">
        <div class="intro">
            <span class="f center">
                <span class="lite">ALLERGIES</span><br><br>
                Allergies occur when your immune system reacts to a foreign substance — such as pollen, bee venom or pet dander — or a food that doesn't cause a reaction in most people.<br><br>

                Your immune system produces substances known as antibodies. When you have allergies, your immune system makes antibodies that identify a particular allergen as harmful, even though it isn't. When you come into contact with the allergen, your immune system's reaction can inflame your skin, sinuses, airways or digestive system.<br><br>
                
                The severity of allergies varies from person to person and can range from minor irritation to anaphylaxis — a potentially life-threatening emergency. While most allergies can't be cured, treatments can help relieve your allergy symptoms.
            </span>
        </div>
        <img src="./allergies.jpg" class="pic">
    </div>
    <div class="sym">
        <div class="intro">
            <span class="f center">
                <span class="lite">SYMPTOMS</span><br><br>
                Because there are so many possible causes, the symptoms of allergies vary widely. Airborne allergens, like pollen and pet dander, are likely to cause:<br>
            <ul>
                <li>Eye irritation</li>
                <li>Runny nose</li>
                <li>Stuffy nose</li>
                <li>Puffy, watery eyes</li>
                <li>Sneezing</li>
                <li>Inflamed, itchy nose and throat</li>
            </ul>
            <br>Allergens that are consumed, like foods or certain medications, can cause:<br><ul>
                <li>Hives or skin rashes</li>
                <li>Gastrointestinal distress </li>
                <li>Tingling or swelling of the lips, face, or tongue</li>
                <li>Itchiness</li>
                <li>Difficulty breathing or wheezing</li>
                <li>Fainting/ or lightheadedness</li>
            </ul>
            </span>
        </div>
    </div>
    <div class="remedies" style="overflow:scroll">
        <div class="intro">
            <span class="f center">
                <span class="lite">REMEDIES</span><br><br>
                <span class="lite"><u>1. Cold compress</u></span><br>
                One of the fastest and easiest ways to stop the pain and itch of a rash is to apply cold. Whether you choose a cold compress, cool showers, or damp cloth, cold water can bring immediate relief and can help stop swelling, ease itching, and slow the progression of a rash.<br>
                
                Consider making or purchasing fabric bags stuffed with ice. They freeze well, and they can be heated for other uses.<br>
                
                <span class="lite">How to use it</span><br>
                Fill an ice bag or plastic bag with ice or dampen a cloth with cold water.<br>
                Place a cloth over your skin (never place ice directly on your skin).<br>
                Hold on your skin until itching or pain subsides.<br>
                Repeat as needed.<br>
                How it works<br>
                Cold limits blood flow to an inflamed area. When you apply ice or cold water to a rash, it can help reduce swelling and inflammation and can stop itching almost immediately. For rashes that cover more of the body or that affect an area that is difficult to cover with an ice pack, a cool bath or shower may provide relief.
            <br><br><span class="lite"><u>2. Oatmeal bath</u></span><br>
            Oats (avena sativa) have been used for centuriesTrusted Source to treat many skin conditions, from eczema to burns. The U.S. Food and Drug Administration (FDA) approved the use of oatmeal in suspension (colloidal oatmeal) as a skin protectant in 2003. Today there are many over-the-counter skin products containing oatmeal.
            
            Colloidal oatmeal dissolved in a bath can relieve itchiness. Commercial brands of oatmeal bath, like Aveeno, come in ready-to-use packets, measured
            </span>
        </div>
    </div>
    <div class="new">
        <div>
            <button class="nr" onclick="remactive()">NEW REMEDIES</button>
            <button class="nr" onclick="feedactive()">FEEDBACK</button>
        </div>
        <span class="cc" id="cc">
            <div class="form"><div class="say ee"><span class="ad">If You Have Any Other Remedies From The Ayurveda Then You are Welcome To Present The Lost Content So That It can be used For The Other People.We Will Only Add it to the Remedies When The Solution Is Acurate And Safe To Every one</span></div><button class="n rem" onclick="location.href='./remedies.html'">Enter</button></div>
        </span>
    </div>
    <div class="credits f">
        HEALTHY SPIRITS is optimized for learning.Remidies might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
        Copyright 1999-2022 by Refsnes Data. All Rights Reserved.
    </div>
</body>
