<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anxiety</title>
    <link rel="stylesheet" href="./template.css">
    <script>
        function feedactive(){
            let mag=document.getElementById('cc').innerHTML="<div class=\"form\"><div class=\"say ee\"><span class=\"ad\">Try To Give The Feedback So that We can Make Our Service More And More Better In Th Upcoming Future</span></div><button class=\"n feed\"onclick=\"location.href=\'./feed.html'\">Enter</button></div>"

        }
        function remactive(){
            let mag=document.getElementById('cc').innerHTML="<div class=\"form\"><div class=\"say ee\"><span class=\"ad\">If You Have Any Other Remedies From The Ayurveda Then You are Welcome To Present The Lost Content So That It can be used For The Other People.We Will Only Add it to the Remedies When The Solution Is Acurate And Safe To Every one</span></div><button class=\"n rem\" onclick=\"location.href=\'./remedies.html\'\">Enter</button></div>"
        }
    </script>
</head>
<body>
    <div class="header">
        <img src="./head.jpg" class="logo">
        <h1>HEALTHY SPIRITS</h1>
    </div>
    <div class="menu">
        <button class="button home" onclick="location.href='../index.html'">Home</button>
        <button class="button phy" onclick="location.href='./phy.html'">Physical Illness</button>
        <button class="button men" onclick="location.href='./men.html'">Mental Illness</button>
        <button class="button is" onclick="location.href='./info.html'">Info</button>
        <button class="button con" onclick="location.href='./contact.html'">Contact Us</button>
    </div>
    <div class="scr">
        <marquee class="at">Science of yoga and ayurveda is subtler than the science of medicine, because science of medicine is often victim of statistical manipulation.    The purpose of science is not down-scaling everything to physical level and measure, but to penetrate deeper into the realm beyond the sensory perceptions and bring more in-depth knowledge and wisdom to the world.</marquee>
    </div>
    <div class="start" style="overflow: scroll;">
        <div class="intro">
            <span class="f center">
                <span class="lite">ANXIETY</span><br><br>
                <p>Experiencing occasional anxiety is a normal part of life. However, people with anxiety disorders frequently have intense, excessive and persistent worry and fear about everyday situations. Often, anxiety disorders involve repeated episodes
                    of sudden feelings of intense anxiety and fear or terror that reach a peak within minutes (panic attacks).These feelings of anxiety and panic interfere with daily activities, are difficult to control, are out of proportion to the actual
                    danger and can last a long time. You may avoid places or situations to prevent these feelings. Symptoms may start during childhood or the teen years and continue into adulthood. Examples of anxiety disorders include generalized anxiety
                    disorder, social anxiety disorder (social phobia), specific phobias and separation anxiety disorder. You can have more than one anxiety disorder. Sometimes anxiety results from a medical condition that needs treatment.</p>
                <h5>Types of anxiety disorders:</h5>
                <p>There are several types of anxiety disorders, some of the common ones include:</p>
                <p>1.Generalized anxiety disorder (GAD): GAD involves persistent and exaggerated worrying about everyday life.</p>
                <p>2.Phobias: It includes things or situations that trigger a sense of fear and anxiety. For instance agoraphobia (fear of being in situations that have no escape) or claustrophobia (fear of enclosed spaces).</p>
                <p>3.Social anxiety disorder: This type of anxiety instils intense fear about social interaction or gatherings, often driven by irrational concerns about humiliation. </p>
            </span>
        </div>
        <img src="./anxiety.jpg" class="pic">
    </div>
    <div class="sym">
        <div class="intro">
            <span class="f center">
                <span class="lite">SYMPTOMS</span><br><br>
                <span class="lite"><u>Common anxiety signs and symptoms include:</u></span>
                <p>1.Feeling nervous, restless or tense<br> 2.Having a sense of impending danger, panic or doom <br> 3.Having an increased heart rate <br> 4.Breathing rapidly (hyperventilation)<br> 5.Sweating,Trembling <br> 6.Feeling weak or tired, Having
                    trouble sleeping<br> 7.Trouble concentrating or thinking about anything other than the present worry<br> 8.Experiencing gastrointestinal (GI) problems<br> 9.Having difficulty controlling worry<br> 10.Having the urge to avoid things
                    that trigger anxiety</p>
            </span>
        </div>
    </div>
    <div class="remedies" style="overflow:scroll ;">
        <div class="intro">
            <span class="f center">
                <span class="lite">REMEDIES</span><br><br>
                <span class="lite"><u>Ayurvedic treatment for Axiety:</u></span>
                <p>Anxiety treatment in Ayurveda first involves identifying the type of anxiety disorder and its cause. Anxiety treatment in Ayurveda, no matter what type it is, involves ensuring the patient gets good sleep, strict diet, and proper regimen.
                    These basic practices go a long way in reducing panic attacks and decreasing the intensity of anxiety attacks. Herbs such as ashwagandha, brahmi, mandukaparni, yashtimadhu, jatamamsi, amla, vacha etc have been found effective in reducing
                    the symptoms of anxiety and relaxing the body and mind.</p>
                <p><span class="lite">1.At Brahmasutra Ayurvaidyasala:</span> we use a combination of physical therapy, counselling and herbal medicines to provide treatment for anxiety. In Ayurveda, we focus on treating the cause of the problem, so that the results are reliable
                    and long-lasting.</p>
                <p><span class="lite">2.Meditating: </span>This is one of the most relaxing and effective way to calm yourself. Indulge into meditation and relaxing whenever you feel anxious and it will surely help you stay calm, giving you the strength for dealing with anxiety.</p>
                <p><span class="lite">3.Staying active and exercise: </span> Lazy lifestyle and bad habits can increase your chances of anxiety attacks. Indulge into different kind of workouts and make sure that you are not letting yourself be idle.</p>
                <p><span class="lite">4.Quitting smoking cigarettes: </span>People get into a habit of smoking cigarettes when they feel anxious or stressed. Let us tell you that it promotes anxiety even more so one must quit smoking cigarettes as it might help in reducing your anxiety
                    levels
                </p>
                <p><span class="lite">5.Have a healthy diet: </span>A healthy diet will help you more than anything and indulg</p>
            </span>
        </div>
    </div>
    <div class="new">
        <div>
            <button class="nr" onclick="remactive()">NEW REMEDIES</button>
            <button class="nr" onclick="feedactive()">FEEDBACK</button>
        </div>
        <span class="cc" id="cc">
            <div class="form"><div class="say ee"><span class="ad">If You Have Any Other Remedies From The Ayurveda Then You are Welcome To Present The Lost Content So That It can be used For The Other People.We Will Only Add it to the Remedies When The Solution Is Acurate And Safe To Every one</span></div><button class="n rem" onclick="location.href='./remedies.html'">Enter</button></div>
        </span>
    </div>
    <div class="credits f">
        HEALTHY SPIRITS is optimized for learning.Remidies might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
        Copyright 1999-2022 by Refsnes Data. All Rights Reserved.
    </div>
</body>
