<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="./template.css">
    <script>
        function feedactive(){
            let mag=document.getElementById('cc').innerHTML="<div class=\"form\"><div class=\"say ee\"><span class=\"ad\">Try To Give The Feedback So that We can Make Our Service More And More Better In Th Upcoming Future</span></div><button class=\"n feed\"onclick=\"location.href=\'./feed.html'\">Enter</button></div>"

        }
        function remactive(){
            let mag=document.getElementById('cc').innerHTML="<div class=\"form\"><div class=\"say ee\"><span class=\"ad\">If You Have Any Other Remedies From The Ayurveda Then You are Welcome To Present The Lost Content So That It can be used For The Other People.We Will Only Add it to the Remedies When The Solution Is Acurate And Safe To Every one</span></div><button class=\"n rem\" onclick=\"location.href=\'./remedies.html\'\">Enter</button></div>"
        }
    </script>
</head>
<body>
    <div class="header">
        <img src="./head.jpg" class="logo">
        <h1>HEALTHY SPIRITS</h1>
    </div>
    <div class="menu">
        <button class="button home" onclick="location.href='../index.html'">Home</button>
        <button class="button phy" onclick="location.href='./phy.html'">Physical Illness</button>
        <button class="button men" onclick="location.href='./men.html'">Mental Illness</button>
        <button class="button is" onclick="location.href='./info.html'">Info</button>
        <button class="button con" onclick="location.href='./contact.html'">Contact Us</button>
    </div>
    <div class="scr">
        <marquee class="at">Science of yoga and ayurveda is subtler than the science of medicine, because science of medicine is often victim of statistical manipulation.    The purpose of science is not down-scaling everything to physical level and measure, but to penetrate deeper into the realm beyond the sensory perceptions and bring more in-depth knowledge and wisdom to the world.</marquee>
    </div>
    <div class="start">
        <div class="intro">
            <span class="f center">
                <span class="lite">COLD</span><br><br>
                The common cold is a viral infection of your nose and throat (upper respiratory tract). It's usually harmless, although it might not feel that way. Many types of viruses can cause a common cold.<br>Healthy adults can expect to have two or three colds each year. Infants and young children may have even more frequent colds.
                
                <br>Most people recover from a common cold in a week or 10 days.</div>
            </span>
        </div>
        <img src="./cold.jpg" class="pic">
    </div>
    <div class="sym" style="top:-25px;">
        <div class="intro">
            <span class="f center">
                <span class="lite">SYMPTOMS</span><br><br>
                <p>When a person has a cold virus, their immune system tries to fight it off. This causes the symptoms that we recognize as a cold.
                    Symptoms can vary, but common ones include:<br>
                   <ul> 
                    <li>a sore throat</li>
                    <li> a cough</li>
                    <li>sneezing</li>
                    <li>a blocked or runny nose</li>
                    <li>a headache</li>
                   </ul>
                    <p>Rarer symptoms include:</p>
                    <ul>
                    <li> aches</li>
                    <li>shivering</li>
                    <li> pinkeye</li>
                    <li>weakness</li>
                    <li>low appetite</li>
                    <li>fatigue</li>
                    </ul>
                    <p>
                    People with a weakened immune system may develop more severe symptoms or a secondary infection, such as pneumonia. If a person develops more serious symptoms, they should seek medical help.
                    </p>
            </span>
        </div>
    </div>
    <div class="remedies" style="overflow:scroll ;">
        <div class="intro">
            <span class="f center">
                <span class="lite">REMEDIES</span><br><br>
                <b>If you catch a cold, you can expect to be sick for one to two weeks. That doesn't mean you have to be miserable. These remedies might help you feel better:</b>
<br>

<p>                Stay hydrated. Water, juice, clear broth or warm lemon water with honey helps loosen congestion and prevents dehydration. Avoid alcohol, coffee and caffeinated sodas, which can make dehydration worse.</p>
              <p>Rest : Your body needs rest to heal.</p><br>
               <p> Soothe a sore throat : A saltwater gargle — 1/4 to 1/2 teaspoon salt dissolved in an 8-ounce glass of warm water — can temporarily relieve a sore or scratchy throat. Children younger than 6 years are unlikely to be able to gargle properly.</p><br>
                
                Home Remedies for Cough & Cold - Manage with These Ayurvedic Remedies :<br>
                
                In addition to medicines and cough syrups, you can use some simple ayurvedic remedies to help you feel better.<br> 
                
                According to Ayurveda, imbalance in any of the three doshas i.e., vata, pitta, kapha can cause an ailment. In this case, an excess of Pitta and Kapha in the body causes nasal congestion and cough. <br>
                
                To tackle this, here are some ayurvedic remedies to manage your cold and cough:<br><br>
                
                1. Tulsi<br>
                In Ayurveda, Tulsi is known as "Mother Medicine of Nature" and "The Queen of Herbs". Tulsi leaves help improve the individual’s ability to fight against common cold as well as cough. <br><br>
                
                How it works<br>
                Tulsi boosts the production of antibodies thereby preventing the onset of any infections. Tulsi has cough relieving properties. It helps soothe the airways by helping you cough out the sticky mucus.<br><br> 
                
                How to take<br>
                Tulsi leaves<br>
                Chew 4-5 tulsi leaves the first thing in the morning. You can continue taking Tulsi leaves to boost your immunity.<br>
                Tulsi kadha<br>
                Take a few tulsi leaves. Wash it well.<br>
                Boil water in a pan, add the tulsi leaves.<br>
                To it, add 1 teaspoon of grated ginger and 5-6 peppercorns.<br>
                Boil the mixture for at least 10 minutes.<br>
                Finally, add a pinch of black salt and squeeze ½ lemon to it.<br>
                Let it stand for 1 minute.<br>
                Strain and drink it warm.<br>
                Tulsi Tea<br>
                Add fresh tulsi leaves to 1½ cups of water.<br>
                Boil on a medium flame for 10 minutes.<br>
                Strain the water using a strainer.<br>
                Add lemon juice and mix well.<br>
                Drink warm to get relief from cough and cold.<br>
                2. Honey<br>
                With loads of antimicrobial properties, honey is not only heavenly for your taste buds but also helps ease sore throat. It is an effective cough suppressant. <br><br>
                
                How it works<br>
                Honey provides relief from chest congestion by loosening thick mucus and helping you to cough it out. This helps reduce wet cough. <br><br>
                
                How to take<br>
                Take a teaspoonful of honey before going to bed at night to reduce the severity of cough. Continue till you do not get relief from cough.<br>
                Honey in Ginger Juice<br>
                Take 1 teaspoon honey.<br>
                Add 1 teaspoon of ginger juice and 1 pinch of black pepper.<br>
                Take once in the morning and once before going to bed at night to get relief from a sore throat and cough.<br>
                Honey is a miracle of nature which not only aids in improving digestion but boosting your metabolism also. Keep a check on your overall health with a comprehensive full body check-up.<br><br>
                
                3. Mulethi<br>
                Mulethi or Licorice, also known as “Sweet wood”, is an effective Ayurvedic herb for cough. Mulethi powder is useful in managing sore throat, cough and excessive production of mucus in the airway.<br><br>
                
                How it works<br>
                Mulethi has expectorant property. It thins and loosens the mucus inside the airways. This eases coughing and reduces congestion.<br><br>
                
                How to take<br>
                Mulethi water<br>
                Take 1 teaspoon Mulethi powder and add to 1 glass of warm water. Drink this twice a day.<br>
                Mulethi tea<br>
                Take 1 small piece of Mulethi root and add it to boiling water.<br>
                Add grated ginger and let it simmer for around 5 minutes. <br>
                Add a tea bag and drink this tea twice a day.<br>
                Mulethi kadha<br>
                Take 1/4 teaspoon mulethi powder, a pinch of cinnamon powder, black pepper powder and few tulsi leaves.<br>
                Add to 1 cup of boiling water. Simmer for 5 minutes.<br>
                Transfer to a cup and add 1 teaspoon honey to it. <br>
                Drink this kadha twice a day.<br>
                <br>
                4. Pippali<br>
                Pippali is an effective herb in managing cough and cold. Studies state that it gives relief from headache and congestion associated with common cold. 
                <br><br>               
                How it works<br>
                Pippali loosens mucus and helps to cough it out, thus allowing the patient to breathe freely. This is due to its expectorant property.
                <br><br>
                How to take<br>
                Pippali Churna<br>
                Take a pinch of pippali churna.<br>
                Swallow it with 1 teaspoon honey. <br>
                Repeat 1-2 times a day and continue till cold and cough subsides.<br>
                5. Sonth<br>
                Dry ginger popularly known as sonth or sukku or soonth is one of the main ingredients of herbal cough syrups. Sonth, when taken with honey, acts as a soothing remedy for cough and cold.
                <br><br>
                How it works<br>
                Sonth contains certain molecules that have anti-inflammatory properties. This helps reduce sore throat. 
                <br><br>
                How to take<br>
                Sonth with honey<br>
                Take 1/4 teaspoon sonth and add to 1 teaspoon honey.<br> 
                Mix well and take it twice a day for at least 3 days.<br>
                Sonth Goli<br>
                Take 2-3 tbsp of desi ghee in a pan. Keep the flame low.<br>
                Add 2-3 teaspoon jaggery powder and let it melt. To this add 2-3 tbsp sonth powder. Mix well.<br>
                Allow it to cool. <br>
                Shape into bite-sized balls.<br>
                You can take 1 goli twice a day.<br>
                6. Cinnamon<br>
                This woody aromatic spice is loaded with many health benefits and one of them is relief from cold and cough. It not only gives relief from common cold but is also great for a sore throat. 
                <br><br>
                How it works<br>
                Cinnamon is known to have antiviral property. This helps fight against the virus causing common cold. It also has anti-inflammatory properties that help give relief from a sore throat. 
                <br><br>
                How to take<br>
                Cinnamon tea<br>
                Make your regular cup of black tea.<br>
                Add a pinch of cinnamon powder to it.<br>
                Drink it 2-3 times a day.<br>
                Cinnamon with honey<br>
                Take 1 teaspoon honey and add 1/4 teaspoon cinnamon powder.<br>
                Mix and take it twice a day for at least 3 days.<br>
                7. Giloy<br>
                Giloy, also known as Amrita or Guduchi in Hindi, has heart-shaped leaves that resemble betel leaves.
                <br><br>           
                It helps manage cold and cough caused due to allergic reactions to pollution, smoke or pollen. It also helps to manage cold and tonsillitis. It is also the most effective herb to boost immunity. 
                <br><br>
                How it works<br>
                Giloy has good anti-inflammatory property. This helps reduce frequent cough as well as a sore throat.
                <br><br>
                How to take<br>
                Giloy juice<br>
                Take two teaspoons of Giloy juice with warm water on an empty stomach in the morning.
                <br><br>Giloy tablet<br>
                Alternatively you can also take 1 Giloy tablet with warm water in the morning.<br>
                You can buy Giloy juice or tablet from any Ayurvedic store or buy online.<br>
                Quick Tips to Keep Distance from Cold and Cough<br>
                Wash your hands properly with soap and water for at least 20 seconds to prevent the spread of cold viruses.<br>
                Avoid touching your face, eyes, nose. <br>
                Sanitize your hands with alcohol-based hand gels after touching contaminated surfaces at work-place like door-knobs, mouse, chair handles, etc.<br>
                Keep a distance of 6 feet from people who are suffering from cold and cough.<br>
                Wear a mask whenever you step outside the house or whenever you come in contact with people you don’t live with.<br>
                Increase your water intake and have hot tea and liquids.<br>
                Do steam inhalation by adding 1-2 drops of eucalyptus oil in a bowl of hot water. Repeat 2-3 times a day to get relief from a stuffy nose. <br>
                Strengthen your immune system by taking a balanced diet rich in vitamin C food.
            </span>
        </div>
    </div>
    <div class="new">
        <div>
            <button class="nr" onclick="remactive()">NEW REMEDIES</button>
            <button class="nr" onclick="feedactive()">FEEDBACK</button>
        </div>
        <span class="cc" id="cc">
            <div class="form"><div class="say ee"><span class="ad">If You Have Any Other Remedies From The Ayurveda Then You are Welcome To Present The Lost Content So That It can be used For The Other People.We Will Only Add it to the Remedies When The Solution Is Acurate And Safe To Every one</span></div><button class="n rem" onclick="location.href='./remedies.html'">Enter</button></div>
        </span>
    </div>
    <div class="credits f">
        HEALTHY SPIRITS is optimized for learning.Remidies might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
        Copyright 1999-2022 by Refsnes Data. All Rights Reserved.
    </div>
</body>
