<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONJUNCTIVITIS</title>
    <link rel="stylesheet" href="./template.css">
    <script>
        function feedactive(){
            let mag=document.getElementById('cc').innerHTML="<div class=\"form\"><div class=\"say ee\"><span class=\"ad\">Try To Give The Feedback So that We can Make Our Service More And More Better In Th Upcoming Future</span></div><button class=\"n feed\"onclick=\"location.href=\'./feed.html'\">Enter</button></div>"

        }
        function remactive(){
            let mag=document.getElementById('cc').innerHTML="<div class=\"form\"><div class=\"say ee\"><span class=\"ad\">If You Have Any Other Remedies From The Ayurveda Then You are Welcome To Present The Lost Content So That It can be used For The Other People.We Will Only Add it to the Remedies When The Solution Is Acurate And Safe To Every one</span></div><button class=\"n rem\" onclick=\"location.href=\'./remedies.html\'\">Enter</button></div>"
        }
    </script>
</head>
<body>
    <div class="header">
        <img src="./head.jpg" class="logo">
        <h1>HEALTHY SPIRITS</h1>
    </div>
    <div class="menu">
        <button class="button home" onclick="location.href='../index.html'">Home</button>
        <button class="button phy" onclick="location.href='./phy.html'">Physical Illness</button>
        <button class="button men" onclick="location.href='./men.html'">Mental Illness</button>
        <button class="button is" onclick="location.href='./info.html'">Info</button>
        <button class="button con" onclick="location.href='./contact.html'">Contact Us</button>
    </div>
    <div class="scr">
        <marquee class="at">Science of yoga and ayurveda is subtler than the science of medicine, because science of medicine is often victim of statistical manipulation.    The purpose of science is not down-scaling everything to physical level and measure, but to penetrate deeper into the realm beyond the sensory perceptions and bring more in-depth knowledge and wisdom to the world.</marquee>
    </div>
    <div class="start">
        <div class="intro">
            <span class="f center">
                <span class="lite">CONJUNCTIVITIS</span><br><br>
                Pink eye (conjunctivitis) is an inflammation or infection of the transparent membrane (conjunctiva) that lines your eyelid and covers the white part of your eyeball. When small blood vessels in the conjunctiva become inflamed, they're more visible. This is what causes the whites of your eyes to appear reddish or pink.<br>

                Pink eye is commonly caused by a bacterial or viral infection, an allergic reaction, or — in babies — an incompletely opened tear duct.<br>
                
                Though pink eye can be irritating, it rarely affects your vision. Treatments can help ease the discomfort of pink eye. Because pink eye can be contagious, early diagnosis and treatment can help limit its spread.
            </span>
        </div>
        <img src="./conjunctivitis.jpg" class="pic">
    </div>
    <div class="sym">
        <div class="intro">
            <span class="f center">
                <span class="lite">SYMPTOMS</span><br><br>
                The most common pink eye symptoms include:<br><ul>

                    <li>Redness in one or both eyes</li>
                    <li>Itchiness in one or both eyes</li>
                    <li>A gritty feeling in one or both eyes</li>
                    <li>A discharge in one or both eyes that forms a crust during the night that may prevent your eye or eyes from opening in the morning</li>
                    <li>Tearing</li></ul>
            </span>
        </div>
    </div>
    <div class="remedies">
        <div class="intro">
            <span class="f center">
                <span class="lite">REMEDIES</span><br><br>
                To reduce the symptoms of allergic pink eye you can:<br>
                <ul>
                <li>Mix Triphala Choorna (15gm) in water (200ml) for half an hour and then boil it and filter it. This produces Trifala Lotion which can be used to wash the eyes for about 3-4 times in a day.</li><li>Put a cool, damp washcloth over your eyes for a few minutes.</li>
                </ul><br>
                <span class="lite">Genral tips-</span><ul>
                <li>Wash your hands frequently to prevent spreading an existing infection to your other eye, and to other people.</li>
                <li>Don’t rub your eyes.</li>
                <li>Use a cool wet washcloth to soak off any crusting.</li>
                <li>Use a warm or cool compress to reduce discomfort.</li>
                <li>Discard eye make-up because it may cause future infection.</li>
                <li>Wash any clothing that may be contaminated, including towels and pillowcases. Try to use clean towels and pillowcases everyday.</li>
                <li>Avoid wearing contact lenses and discard current lenses.</li></ul>
            </span>
        </div>
    </div>
    <div class="new">
        <div>
            <button class="nr" onclick="remactive()">NEW REMEDIES</button>
            <button class="nr" onclick="feedactive()">FEEDBACK</button>
        </div>
        <span class="cc" id="cc">
            <div class="form"><div class="say ee"><span class="ad">If You Have Any Other Remedies From The Ayurveda Then You are Welcome To Present The Lost Content So That It can be used For The Other People.We Will Only Add it to the Remedies When The Solution Is Acurate And Safe To Every one</span></div><button class="n rem" onclick="location.href='./remedies.html'">Enter</button></div>
        </span>
    </div>
    <div class="credits f">
        HEALTHY SPIRITS is optimized for learning.Remidies might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
        Copyright 1999-2022 by Refsnes Data. All Rights Reserved.
    </div>
</body>
