<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="header">
        <img src="./head.jpg" class="logo">
        <h1>HEALTHY SPIRITS</h1>
    </div>
    <div class="menu">
        <button class="button home" onclick="location.href='../index.html'">Home</button>
        <button class="button phy" onclick="location.href='./phy.html'">Physical Illness</button>
        <button class="button men" onclick="location.href='./men.html'">Mental Illness</button>
        <button class="button is" onclick="location.href='./info.html'">Info</button>
        <button class="button con" onclick="location.href='./info.html'">Contact Us</button>
    </div>
    <div class="scr">
        <marquee class="at">Science of yoga and ayurveda is subtler than the science of medicine, because science of medicine is often victim of statistical manipulation.    The purpose of science is not down-scaling everything to physical level and measure, but to penetrate deeper into the realm beyond the sensory perceptions and bring more in-depth knowledge and wisdom to the world.</marquee>
    </div>
    <div class="contact">
        <h2 align="center" >TEAM 9</h2>
        <div class="person one">
            <img src="./contact.jpg" class="im">
            <p align="center">Charan Sai Penugoti</p>
            <p style="font-size:15px;">penugoticharan494@gmail.com</p>
            <p align="center">IT-F2</p>
        </div>
        <div class="person two">
            <img src="./contact.jpg" class="im">
            <p align="center">Bhanu Charan Kodimala</p>
            <p style="font-size:12px;" align="center">bhanucharankodimala@gmail.com</p>
            <p align="center">IT-F2</p>
        </div>
        <div class="person three">
            <img src="./contact.jpg" class="im">
            <p align="center">Shivani Keerthigari</p>
            <p style="font-size:12px;" align="center">keerthigari.shivani@gmail.com</p>
            <p align="center">CSE-E3</p>
        </div>
        <div class="person four">
            <img src="./contact.jpg" class="im">
            <p align="center">Ankitha Reddy Kattipelli</p>
            <p style="font-size:12px;" align="center">ankithareddy2701@gmail.com</p>
            <p align="center">ECM-A</p>
        </div>
        <div class="person five">
            <img src="./contact.jpg" class="im">
            <p align="center">Dhruv Rao Tirmanwar</p>
            <p style="font-size:12px;" align="center">tirmanwardhruv@gmail.com</p>
            <p align="center">CSE-E</p>
        </div>
    </div>
    <div class="credits">
        HEALTHY SPIRITS is optimized for learning.Remidies might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
        Copyright 1999-2022 by Refsnes Data. All Rights Reserved.
    </div>
</body>
