<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEADACHE</title>
    <link rel="stylesheet" href="./template.css">
    <script>
        function feedactive(){
            let mag=document.getElementById('cc').innerHTML="<div class=\"form\"><div class=\"say ee\"><span class=\"ad\">Try To Give The Feedback So that We can Make Our Service More And More Better In Th Upcoming Future</span></div><button class=\"n feed\"onclick=\"location.href=\'./feed.html'\">Enter</button></div>"

        }
        function remactive(){
            let mag=document.getElementById('cc').innerHTML="<div class=\"form\"><div class=\"say ee\"><span class=\"ad\">If You Have Any Other Remedies From The Ayurveda Then You are Welcome To Present The Lost Content So That It can be used For The Other People.We Will Only Add it to the Remedies When The Solution Is Acurate And Safe To Every one</span></div><button class=\"n rem\" onclick=\"location.href=\'./remedies.html\'\">Enter</button></div>"
        }
    </script>
</head>
<body>
    <div class="header">
        <img src="./head.jpg" class="logo">
        <h1>HEALTHY SPIRITS</h1>
    </div>
    <div class="menu">
        <button class="button home" onclick="location.href='../index.html'">Home</button>
        <button class="button phy" onclick="location.href='./phy.html'">Physical Illness</button>
        <button class="button men" onclick="location.href='./men.html'">Mental Illness</button>
        <button class="button is" onclick="location.href='./info.html'">Info</button>
        <button class="button con" onclick="location.href='./contact.html'">Contact Us</button>
    </div>
    <div class="scr">
        <marquee class="at">Science of yoga and ayurveda is subtler than the science of medicine, because science of medicine is often victim of statistical manipulation.    The purpose of science is not down-scaling everything to physical level and measure, but to penetrate deeper into the realm beyond the sensory perceptions and bring more in-depth knowledge and wisdom to the world.</marquee>
    </div>
    <div class="start">
        <div class="intro">
            <span class="f center">
                <span class="lite">HEADACHE</span><br><br>
                Everyone suffers the occasional mild headache, but if you experience debilitating pain and/or abnormally frequent headaches, you probably want to find relief. There are countless causes of headaches, which differ for each person, so you’ll have to do some experimenting to figure out the cause of your pain. Fortunately, the vast majority of headaches are primary headaches, not the result of underlying medical conditions. The three most common types are cluster, tension-type, and migraine.<br>
                <b>typesof headache</b><br><br>
                Cluster headache:<br>
                A cluster headache affects a specific point of the head, often the eye, and is characterized by sharp, piercing pain.<br><br>
                Migraine :<br>
                 Migraine and tension-type headaches are far more common.<br><br>
                Tension-type headache <br>
                 “Tension“ headaches are now called “tension-type“ headaches because pain is not only caused by stress, but also poor posture, depression, and even sexual activity. In fact, recent studies have shown a connection between low serotonin levels and so-called “tension“ headaches.<br>
            </span>
        </div>
        <img src="./headache.jpg" class="pic">
    </div>
    <div class="sym">
        <div class="intro">
            <span class="f center">
                <span class="lite">SYMPTOMS</span><br><br>
                <span class="lite"><u>Symptoms of a tension-type headache:<br></u></span>Symptoms of a tension-type headache:<br>
                1.constant, dull ache<br>
                2.felt on both sides of the head<br>
                3.a feeling of squeezing or pressure<br>
                4.does not usually interfere with routine activities<br>
                5.lasts from 30 minutes to a few days<br>
            </span>
        </div>
    </div>
    <div class="remedies" style="overflow:scroll ;">
        <div class="intro">
            <span class="f center">
                <span class="lite">REMEDIES</span><br><br>
                <span class="lite">Ayurveda presents to you a number of ancient herbs that guarantee you 100 percent relief from migraines . These may include </span><ul>
                    <li>Bala</li>
                    <li>kumari</li>
                    <li>Mallika</li>
                    <li>Amalaki</li>
                    <li>sariva</li>
                    <li>yastimadhu</li>
                    <li>hareetaki</li>
                </ul>
                These, when blended and mixed in appropriate quantities, give amazing results.<br><br>
                <span class="lite"><u>More tips-<br></u></span>
                Be consistent. Eat at about the same time every day.<br>
                Don't skip meals. Fasting increases the risk of migraines.<br>
                Keep a food journal. Keeping track of the foods you eat and when you experience migraines can help identify potential food triggers.<br>
                Avoid foods that trigger migraines.<br>
                Ice pack held over the eyes or forehead<br>
                Heating pad set on low or hot shower to relax tense neck and shoulder muscles<br>
                Sleep, or at least resting in a dark room<br>
                Taking breaks from stressful situations<br>
                Regular exercise to increase endorphin levels and relax muscles. Even if you already have a headache, exercising may relieve the pain. However, intense exercise may bring on a headache.<br>
                Occasional use of over-the-counter medicines such as acetaminophen, ibuprofen, or aspirin can relieve both migraine and tension headaches.<br><br>
            </span>
        </div>
    </div>
    <div class="new">
        <div>
            <button class="nr" onclick="remactive()">NEW REMEDIES</button>
            <button class="nr" onclick="feedactive()">FEEDBACK</button>
        </div>
        <span class="cc" id="cc">
            <div class="form"><div class="say ee"><span class="ad">If You Have Any Other Remedies From The Ayurveda Then You are Welcome To Present The Lost Content So That It can be used For The Other People.We Will Only Add it to the Remedies When The Solution Is Acurate And Safe To Every one</span></div><button class="n rem" onclick="location.href='./remedies.html'">Enter</button></div>
        </span>
    </div>
    <div class="credits f">
        HEALTHY SPIRITS is optimized for learning.Remidies might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
        Copyright 1999-2022 by Refsnes Data. All Rights Reserved.
    </div>
</body>
