<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSOMNIA</title>
    <link rel="stylesheet" href="./template.css">
    <script>
        function feedactive(){
            let mag=document.getElementById('cc').innerHTML="<div class=\"form\"><div class=\"say ee\"><span class=\"ad\">Try To Give The Feedback So that We can Make Our Service More And More Better In Th Upcoming Future</span></div><button class=\"n feed\"onclick=\"location.href=\'./feed.html'\">Enter</button></div>"

        }
        function remactive(){
            let mag=document.getElementById('cc').innerHTML="<div class=\"form\"><div class=\"say ee\"><span class=\"ad\">If You Have Any Other Remedies From The Ayurveda Then You are Welcome To Present The Lost Content So That It can be used For The Other People.We Will Only Add it to the Remedies When The Solution Is Acurate And Safe To Every one</span></div><button class=\"n rem\" onclick=\"location.href=\'./remedies.html\'\">Enter</button></div>"
        }
    </script>
</head>
<body>
    <div class="header">
        <img src="./head.jpg" class="logo">
        <h1>HEALTHY SPIRITS</h1>
    </div>
    <div class="menu">
        <button class="button home" onclick="location.href='../index.html'">Home</button>
        <button class="button phy" onclick="location.href='./phy.html'">Physical Illness</button>
        <button class="button men" onclick="location.href='./men.html'">Mental Illness</button>
        <button class="button is" onclick="location.href='./info.html'">Info</button>
        <button class="button con" onclick="location.href='./contact.html'">Contact Us</button>
    </div>
    <div class="scr">
        <marquee class="at">Science of yoga and ayurveda is subtler than the science of medicine, because science of medicine is often victim of statistical manipulation.    The purpose of science is not down-scaling everything to physical level and measure, but to penetrate deeper into the realm beyond the sensory perceptions and bring more in-depth knowledge and wisdom to the world.</marquee>
    </div>
    <div class="start" style="overflow:scroll ;">
        <div class="intro">
            <span class="f center">
                <span class="lite">INSOMNIA</span><br><br>
                <p>Insomnia is a sleeping disorder you have trouble falling and /or staying asleep. The condition can be short-term (acute) or can last a long time (chronic). It may also come and go. Acute insomnia lasts from 1 night to a few weeks. Insomnia
                    is chronic when it happens at least 3 nights a week for 3 months or more.</p>
                <span class="lite"><u>Types of Insomnia:</u></span>
                <p>1.Primary insomnia: This means your sleep problems aren’t linked to any other health condition or problem.</p>
                <p>2.Secondary insomnia:This means you have trouble sleeping because of a health condition (like asthma, depression, arthritis, cancer, or heartburn); pain; medication; or substance use (like alcohol).</p>
                <p>3.Sleep-onset insomnia: This means you have trouble getting to sleep.</p>
                <p>4.Sleep-maintenance insomnia: This happens when you have trouble staying asleep through the night or wake up too early.</p>
                <p>5.Mixed insomnia: With this type of insomnia, you have trouble both falling asleep and staying asleep through the night. </p>
                <p>6.Paradoxical insomnia: When you have paradoxical insomnia, you underestimate the time you're asleep. It feels like you sleep a lot less than you really do.</p>
            </span>
        </div>
        <img src="./insomnia.jpg" class="pic">
    </div>
    <div class="sym">
        <div class="intro">
            <span class="f center">
                <span class="lite">SYMPTOMS</span><br><br>
                <span class="lite"><u>Symptoms of insomnia include:</u></span>
                <p>1.Sleepiness during the day <br> 2.Fatigue
                    <br> 3.Grumpiness
                    <br> 4.Problems with concentration or memory <br> 5.Difficulty falling asleep at night <br> 6.Waking up during the night<br> 7.Waking up too early<br> 8.Not feeling well-rested after a night's sleep<br> 9.Daytime tiredness or sleepiness<br>                    10.Irritability, depression or anxiety<br> 11.Difficulty paying attention, focusing on tasks or remembering<br> 12.Increased errors or accidents<br> 13.Ongoing worries about sleep<br>
                </p>
            </span>
        </div>
    </div>
    <div class="remedies" style="overflow:scroll ;">
        <div class="intro">
            <span class="f center">
                <span class="lite">REMEDIES</span><br><br>
                <span class="lite"><u>Ayurvedic treatment for Insomnia:</u></span>
                <p>1.Lifestyle changes can bring a great difference to your wellbeing. No matter how small they may be, their routine practice can have an effect on resolving sleep deprivation naturally.</p>
                <p>2.Healthy living goes beyond the exteriors of physical health and involves better emotional stability and wellbeing. Healthy living is not only about physical health that caters to regular diet and physical activity; it’s also about your
                    social connections and the rapport you share with them.</p>
                <p>3.“Sleep hygiene” begins with maintaining proper sleep schedule, avoiding exposure to gadget screens during night, and saying no to smoking, limiting caffeine and avoiding hunger pangs during night via timely dinner help in better sleep</p>
                <p>4.One of the most effective home remedy for insomnia is adopting mind healing and relaxation techniques like yoga, meditation etc..</p>
                <p>5.Counselling and cognitive therapy help in relieving anxiety and depression thus help in relieving insomnia.</p>
                <p>6.Another useful home remedy for insomnia is to avoid day sleeping, watching T.V before going to bed, maintaining peaceful sleep environment all are conducive to a good night’s sleep.</p>
                <p>The ayurvedic approach to insomnia is to re-establish balance throughout the body and restore the natural sleep-wake cycle. According to the teachings of Ayurveda, most of the chronic conditions, including insomnia, are triggered by a
                    build-up of impurities in the body. Poor diet, weak digestion, excessively busy lifestyle, and too much stress can generate toxins and impair our body’s ability to get rid of them. Accumulated toxins interfere with our biochemistry
                    and disturb our metabolism, including sleep functions.</p>
            </span>
        </div>
    </div>
    <div class="new">
        <div>
            <button class="nr" onclick="remactive()">NEW REMEDIES</button>
            <button class="nr" onclick="feedactive()">FEEDBACK</button>
        </div>
        <span class="cc" id="cc">
            <div class="form"><div class="say ee"><span class="ad">If You Have Any Other Remedies From The Ayurveda Then You are Welcome To Present The Lost Content So That It can be used For The Other People.We Will Only Add it to the Remedies When The Solution Is Acurate And Safe To Every one</span></div><button class="n rem" onclick="location.href='./remedies.html'">Enter</button></div>
        </span>
    </div>
    <div class="credits f">
        HEALTHY SPIRITS is optimized for learning.Remidies might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
        Copyright 1999-2022 by Refsnes Data. All Rights Reserved.
    </div>
</body>
