<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physical</title>
    <link rel="stylesheet" href="./connect.css">
</head>
<body>
    <div class="header">
        <img src="./head.jpg" class="logo">
        <h1>HEALTHY SPIRITS</h1>
    </div>
    <div class="menu">
        <button class="button home" onclick="location.href='../index.html'">Home</button>
        <button class="button phy" onclick="location.href='./phy.html'">Physical Illness</button>
        <button class="button men" onclick="location.href='./men.html'">Mental Illness</button>
        <button class="button is" onclick="location.href='./info.html'">Info</button>
        <button class="button con" onclick="location.href='./contact.html'">Contact Us</button>
    </div>
    <div class="scr">
        <marquee class="at">Science of yoga and ayurveda is subtler than the science of medicine, because science of medicine is often victim of statistical manipulation.    The purpose of science is not down-scaling everything to physical level and measure, but to penetrate deeper into the realm beyond the sensory perceptions and bring more in-depth knowledge and wisdom to the world.</marquee>
    </div>
    <div class="physical">
        <div class="class dis">
            “Physical illness” (vs mental illness) isn’t really a precise medical term— not like “cancer” or “metabolic disease” or “autoimmune disease.” It’s a term doctors use a lot as a shorthand in casual speech, but it’s not a diagnostic category.

When doctors say “physical illness” what we mean, generally is “an identifiable problem in the tissues of the body that causes the symptoms you’re having.” If you have abdominal pain because of a stomach ulcer, that’s something we can test for and see. It’s something we have a reliable treatment for— we can cure it. So we call it a “physical illness.”
        </div>
        <img src="./physical.jpg" class="image">
    </div>
    <div class="type"><span class="var">
        <span class="lite">Some of The Physical Illness:</span><br><br>
        <ul>
            <li><a href="./fever.html">Fever</a></li>
            <li><a href="./cold.html">Cold</a></li>
            <li><a href="./cough.html">Cough</a></li>
            <li><a href="./diarrahea.html">Diarrahea</a></li>
            <li><a href="./allergies.html">Allergies</a></li>
            <li><a href="./stomachache.html">Stomachache</a></li>
            <li><a href="./conjunctivitis.html">Conjunctivities</a></li>
            <li><a href="./bodypains.html">Bodypains</a></li>
            <li><a href="./headache.html">Headache</a></li>
        </ul>
        </span>
        <img src="./phys.jpg" class="sol">
    </div>
    <div class="credits">
        HEALTHY SPIRITS is optimized for learning.Remidies might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
        Copyright 1999-2022 by Refsnes Data. All Rights Reserved.
    </div>
</body>
