<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTSD</title>
    <link rel="stylesheet" href="./template.css">
    <script>
        function feedactive(){
            let mag=document.getElementById('cc').innerHTML="<div class=\"form\"><div class=\"say ee\"><span class=\"ad\">Try To Give The Feedback So that We can Make Our Service More And More Better In Th Upcoming Future</span></div><button class=\"n feed\"onclick=\"location.href=\'./feed.html'\">Enter</button></div>"

        }
        function remactive(){
            let mag=document.getElementById('cc').innerHTML="<div class=\"form\"><div class=\"say ee\"><span class=\"ad\">If You Have Any Other Remedies From The Ayurveda Then You are Welcome To Present The Lost Content So That It can be used For The Other People.We Will Only Add it to the Remedies When The Solution Is Acurate And Safe To Every one</span></div><button class=\"n rem\" onclick=\"location.href=\'./remedies.html\'\">Enter</button></div>"
        }
    </script>
</head>
<body>
    <div class="header">
        <img src="./head.jpg" class="logo">
        <h1>HEALTHY SPIRITS</h1>
    </div>
    <div class="menu">
        <button class="button home" onclick="location.href='../index.html'">Home</button>
        <button class="button phy" onclick="location.href='./phy.html'">Physical Illness</button>
        <button class="button men" onclick="location.href='./men.html'">Mental Illness</button>
        <button class="button is" onclick="location.href='./info.html'">Info</button>
        <button class="button con" onclick="location.href='./contact.html'">Contact Us</button>
    </div>
    <div class="scr">
        <marquee class="at">Science of yoga and ayurveda is subtler than the science of medicine, because science of medicine is often victim of statistical manipulation.    The purpose of science is not down-scaling everything to physical level and measure, but to penetrate deeper into the realm beyond the sensory perceptions and bring more in-depth knowledge and wisdom to the world.</marquee>
    </div>
    <div class="start">
        <div class="intro">
            <span class="f center">
                <span class="lite">PTSD</span><br><br>
                <p>Post-traumatic stress disorder (PTSD) is a mental health condition that's triggered by a terrifying event — either experiencing it or witnessing it. Symptoms may include flashbacks, nightmares and severe anxiety, as well as uncontrollable
                    thoughts about the event. Most people who go through traumatic events may have temporary difficulty adjusting and coping, but with time and good self-care, they usually get better. If the symptoms get worse, last for months or even
                    years, and interfere with your day-to-day functioning, you may have PTSD. Getting effective treatment after PTSD symptoms develop can be critical to reduce symptoms and improve function.</p>
            </span>
        </div>
        <img src="./ptsd.jpg" class="pic">
    </div>
    <div class="sym">
        <div class="intro">
            <span class="f center">
                <span class="lite">SYMPTOMS</span><br><br>
                <p>Post-traumatic stress disorder symptoms may start within one month of a traumatic event, but sometimes symptoms may not appear until years after the event. These symptoms cause significant problems in social or work situations and in relationships.
                    They can also interfere with your ability to go about your normal daily tasks. <br></p>
                <p>PTSD symptoms are generally grouped into four types: intrusive memories, avoidance, negative changes in thinking and mood, and changes in physical and emotional reactions. Symptoms can vary over time or vary from person to person. <br></p>
                <p>Changes in physical and emotional reactions. Symptoms of changes in physical and emotional reactions (also called arousal symptoms) may include: <br></p>
                <ul type="square">
                    <li>Being easily startled or frightened</li>
                    <li>Always being on guard for danger</li>
                    <li>Self-destructive behavior, such as drinking too much or driving too fast</li>
                    <li>Trouble sleeping.Trouble concentrating</li>
                    <li>Irritability, angry outbursts or aggressive behavior.Overwhelming guilt or shame</li>
                </ul>
            </span>
        </div>
    </div>
    <div class="remedies" style="overflow:scroll ;">
        <div class="intro">
            <span class="f center">
                <span class="lite">REMEDIES</span><br><br>
                <span class="lite">Ayurveda treatment : <br></span>
                <p>1. Best medicine for the mind - according to ayurveda the best treatment for the midn is 3 fold.This will be the primary approach towards all mental disorders.</p>
                <p>2.Dhee - Manipulation,correction and balancing intelligence and thought process. Cognitive Behaviour therapy done in modern medicine fits into the category.</p>
                <p>3.Dhairya - Seeding the courage in the mind of the person suffering from PTSD is mandatory.</p>
                <p>4.Sanjna Prabodhana - The measures of stimulating the mind,intellect,memory and consciousness by adminitering anointments,powder massages and oil massages,medicated smoking and oral consumption of medical ghee.</p>
                <p>5.Yoga - Yoga has been shown to reduce physiological arousal in PTSD patients and its believed to affect the pathology of PTSD by improving somatic regulation and body awareness which is imperative to emotion reguation.</p>
                <span class="lite">ASANAS FOR PTSD :<br></span>
                <ul>
                    <li>Tadasana-Mountain Pose</li>
                    <li>Shavasana-Corpse Pose</li>
                    <li>Sethu Bandhasana-Bridge Pose</li>
                    <li>Marjariasana-cat pose</li>
                    <li>Konasana-Standing sideways bending one-arm pose</li>
                </ul>
            </span>
        </div>
    </div>
    <div class="new">
        <div>
            <button class="nr" onclick="remactive()">NEW REMEDIES</button>
            <button class="nr" onclick="feedactive()">FEEDBACK</button>
        </div>
        <span class="cc" id="cc">
            <div class="form"><div class="say ee"><span class="ad">If You Have Any Other Remedies From The Ayurveda Then You are Welcome To Present The Lost Content So That It can be used For The Other People.We Will Only Add it to the Remedies When The Solution Is Acurate And Safe To Every one</span></div><button class="n rem" onclick="location.href='./remedies.html'">Enter</button></div>
        </span>
    </div>
    <div class="credits f">
        HEALTHY SPIRITS is optimized for learning.Remidies might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
        Copyright 1999-2022 by Refsnes Data. All Rights Reserved.
    </div>
</body>
