<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STOMACHACHE</title>
    <link rel="stylesheet" href="./template.css">
    <script>
        function feedactive(){
            let mag=document.getElementById('cc').innerHTML="<div class=\"form\"><div class=\"say ee\"><span class=\"ad\">Try To Give The Feedback So that We can Make Our Service More And More Better In Th Upcoming Future</span></div><button class=\"n feed\"onclick=\"location.href=\'./feed.html'\">Enter</button></div>"

        }
        function remactive(){
            let mag=document.getElementById('cc').innerHTML="<div class=\"form\"><div class=\"say ee\"><span class=\"ad\">If You Have Any Other Remedies From The Ayurveda Then You are Welcome To Present The Lost Content So That It can be used For The Other People.We Will Only Add it to the Remedies When The Solution Is Acurate And Safe To Every one</span></div><button class=\"n rem\" onclick=\"location.href=\'./remedies.html\'\">Enter</button></div>"
        }
    </script>
</head>
<body>
    <div class="header">
        <img src="./head.jpg" class="logo">
        <h1>HEALTHY SPIRITS</h1>
    </div>
    <div class="menu">
        <button class="button home" onclick="location.href='../index.html'">Home</button>
        <button class="button phy" onclick="location.href='./phy.html'">Physical Illness</button>
        <button class="button men" onclick="location.href='./men.html'">Mental Illness</button>
        <button class="button is" onclick="location.href='./info.html'">Info</button>
        <button class="button con" onclick="location.href='./contact.html'">Contact Us</button>
    </div>
    <div class="scr">
        <marquee class="at">Science of yoga and ayurveda is subtler than the science of medicine, because science of medicine is often victim of statistical manipulation.    The purpose of science is not down-scaling everything to physical level and measure, but to penetrate deeper into the realm beyond the sensory perceptions and bring more in-depth knowledge and wisdom to the world.</marquee>
    </div>
    <div class="start">
        <div class="intro">
            <span class="f center">
                <span class="lite">STOMACH ACHE</span><br><br>
                Abdominal pain may be felt anywhere between the chest and groin region of your body. The pain may be generalized, localized, or it may feel like cramps in your belly. If you have cramping or discomfort in your stomach, it may be due to gas, bloating, or constipation. Or it might be a sign of a more serious medical condition.<br>

                Colicky pain in the abdomen region comes and goes. One moment, you may feel fine, but the next, you may experience sharp, sudden pain in your abdomen. Kidney stones and gallstones are often the cause of this type of pain.</div>
        
            </span>
        </div>
        <img src="./stomachache.jpg" class="pic">
    </div>
    <div class="sym">
        <div class="intro">
            <span class="f center">
                <span class="lite">SYMPTOMS</span><br><br>
                <span class="lite"><u>Common symptoms of Indigestion includes various gastrointestinal complaints such as -</u></span><br><ul>

                    <li>Gas (flatulence or belching)</li>
                    <li>Acid reflux</li>
                    <li>Stomach pain</li>
                    <li>Bloating</li>
                    <li>Heartburn</li>
                    <li>Nausea</li>
                    <li>Feeling of discomfort after eating</li>
            </span>
        </div>
    </div>
    <div class="remedies" style="overflow:scroll ;">
        <div class="intro">
            <span class="f center">
                <span class="lite">REMEDIES</span><br><br>
                <span class="lite"><u>Ayurvedic Treatment for Stomach Upset and Stomach Pain :</u></span><br><br>

                <span class="lite"><u>1.Ginger</u></span><br>
                If you are facing frequent episodes of acidity, then you must try this simple tip. Add some grated ginger and honey to a glass of warm water and sip it slowly. Ginger can be added to your daily tea also.<br>
                
                <span class="lite"><u>2.Mint Oil</u></span><br>
                Add 2 drops of mint oil in a cup of warm water and drink immediately. It provides instant relief from gripping and flatulence.<br>
                
                <span class="lite"><u>3.Curry Leaves</u></span><br>
                Take 20-25 fresh curry leaves and wash them in cold water. Now extract juice from these washed curry leaves. In a cup of plain water, add about 1 teaspoonful of lemon juice, juice of the curry leaves and 1 teaspoonful of honey. Drink this when it is fresh. This mixture relieves nausea, vomiting and flatulence in the case of stomach upset.<br>
                
                <span class="lite"><u>4.Lemon and Honey</u></span><br>
                Take 1 glass of warm water and add 1 teaspoon of lemon juice and 1 teaspoon of honey. Drink this mixture after every meal. This is one of the best and most effective home remedies for indigestion.<br>
                
                <span class="lite"><u>5.Coriander Seeds</u></span><br>
                Coriander seeds are known for their anti-inflammatory properties that soothe an upset stomach or indigestion. Further stimulating your digestive process. Coriander consists of essential oil called “urand oil” that detoxifies the liver and increases appetite and relieves stomach issues. But this remedy will take time to show results. You need to take coriander seeds infused water for about a week to see the difference.
            </span>
        </div>
    </div>
    <div class="new">
        <div>
            <button class="nr" onclick="remactive()">NEW REMEDIES</button>
            <button class="nr" onclick="feedactive()">FEEDBACK</button>
        </div>
        <span class="cc" id="cc">
            <div class="form"><div class="say ee"><span class="ad">If You Have Any Other Remedies From The Ayurveda Then You are Welcome To Present The Lost Content So That It can be used For The Other People.We Will Only Add it to the Remedies When The Solution Is Acurate And Safe To Every one</span></div><button class="n rem" onclick="location.href='./remedies.html'">Enter</button></div>
        </span>
    </div>
    <div class="credits f">
        HEALTHY SPIRITS is optimized for learning.Remidies might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
        Copyright 1999-2022 by Refsnes Data. All Rights Reserved.
    </div>
</body>
